.vertical-dot-nav {
	position: fixed;
    width: 40px;
    right: 0;
    list-style-type:none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.vertical-dot-nav .dot {
	width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px #000 solid;
    padding:2px;
    margin-top:10px;
    cursor:pointer;
}

.vertical-dot-nav .dot.active, .vertical-dot-nav .dot:hover {
	width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 2px #000 solid;
    padding: 2px;
}

 

